mixin videoSection(video={})
    .flex.items-center.justify-center.flex-wrap.pb-2.pt-5.px-6.font-body
        .max-w-sm.rounded.overflow-hidden.shadow-lg.m-2
            video.w-full.h-64.object-cover.p-1(src=video.fileUrl)
            .px-6.py-4
                .text-xl.mb-2=video.title
                .text-gray-600.text-base=video.description
            .px-6.py-4
                span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-600.mr-2.mb-1 #my
                span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-600.mr-2.mb-1 #best
                span.inline-block.bg-gray-200.rounded-full.px-3.py-1.text-sm.font-semibold.text-gray-600.mb-1 #moments