
extends main
block content
    .flex.items-center.justify-between.flex-wrap.pt-6.pb-1.px-6.mb-3.text-gray-600.font-body
    .flex.items-center.justify-center.flex-wrap.pb-1.px-6.font-body
        .max-w-sm.rounded.overflow-hidden.shadow-lg.m-2
            .px-6.py-4
                .text-xl.mb-2=loggedUser.email
                if loggedUser.emailVerified === true
                    a(href='/users/change-password/').block
                        button.bg-gray-600.text-white.py-1.px-4.mt-4.rounded.w-full(class='hover:bg-gray-800', type="submit") Change Password
                a(href='/users/my-videos/').block
                    button.bg-gray-600.text-white.py-1.px-4.mt-4.rounded.w-full(class='hover:bg-gray-800', type="submit") My Videos
                a(href='/users/delete/').block
                    button.bg-red-600.text-white.py-1.px-4.mt-4.rounded.w-full(class='hover:bg-red-800', type="submit") Delete Account