.flex.items-center.justify-between.flex-wrap.px-6.py-6
    .text-gray-600.text-sm moments #{new Date().getFullYear()} &copy
    a(href='#').text-gray-600.text-sm Need Help?

//- 스크린 커졌을 때 copyright sign과 need help가 가운데로 오도록 할 수 없을까?