#foodlist.flex.items-center.justify-center.flex-wrap.px-6.py-6.font-body.text-gray-600
    - let array = ['체다앤올리', '똠얌꿍', '신전 떡볶이', '땅코 본점', '페어링룸', '나리의집', '굴다리소곱창', '쿠치나후', '일미락', '펄쉘', '오복수산', '엘피노323', '연남동 툭툭누들타이', '금돼지 식당', '유어네이키드치즈', '정식당', '가베도', '렁팡스', '와하카', '다로베', '팩피', '남영돈', '소금집', '비스포크420', '보르고한남', '진미식당', '마예', '미나미', '고메이494', '영란회집', '잠수교집', '성수명당', '홋카이도부타동스미레', '스폰티니신촌점', '탐광', '까폼', '하하공덕점', '하하', '산동만두', '한길포장마차', '소금집델리망원', '파스토', '스시시미즈', '파씨오네', '이사벨더부처', '모수', '조우', '스시야', '스와니예', '디도', '미티크', '양키통닭', '스시누하', '명화원', '쇼린', '산동교자', '토키야', 'h245', '스케줄청담', '온천집', '안국고다', '파이프그라운드', '감칠', '오리올', '올드나이브스', '오스테리아꼬또', '프롬이태리부암동본점', '라미띠에', '소설한남', '쥬에', '엘초코데떼레노', '스시인', '오만지아', '목란', '왕타이', '태인양꼬치본점', '호반', '오프레', '임프레션', '정식당', '오스테리아오르조', '네기스키야키', '네기다이닝라운지', '와하카', '렁팡스', '다로베', '톡톡', '카페그라노', '대숲골농원', '섬진강재첩국수']
    - let item = array[Math.floor(Math.random() * array.length)];
    p 식당 제안: #{item}

.flex.items-center.justify-center.flex-wrap.px-6.py-6.font-body
    .text-gray-600.text-sm.mx-3 #{siteName} #{new Date().getFullYear()} &copy All rights reserved.
    a(href='#').text-gray-600.text-sm.mx-3 Need Help?