.flex.items-center.justify-center.flex-wrap.px-6.py-6.font-body
    .text-gray-600.text-sm.mx-3 #{siteName} #{new Date().getFullYear()} &copy All rights reserved.
    a(href='#').text-gray-600.text-sm.mx-3 Need Help?