nav.flex.items-center.justify-between.flex-wrap.bg-gray-800.px-6.py-4
    .flex.items-center.flex-shrink-0.text-white.mr-6
        span.font-semibold.text-lg.tracking-tight moments
    .block
        .text-sm(class='lg:flex-grow')
            a.mt-4.text-white.mr-4(href='join', class='lg:inline-block lg:mt-0 hover:text-white')
                | Join
            a.mt-4.text-white.mr-4(href='login', class='lg:inline-block lg:mt-0 hover:text-white')
                | Login

//- 로그인 한 후에는 어떻게 보여줄지 나중에 바꾸기