extends main
include mixins/videoSection

block content
    include search
    .container.mx-auto.flex.flex-wrap.justify-center.font-body.mt-8
        each item in videos
            +videoSection({
                id: item.id,
                tags: item.tags,
                creator: item.creator.email,
                title: item.title,
                views: item.views,
                description: item.description,
                fileUrl: item.fileUrl
            })