doctype html
head
    //- 파일 연결 잘 안 됨
    link(rel="stylesheet" href="../../dist/style.css")
    title=title
body
    .bg-green-900
        p=message
    //- 파일 연결 잘 안 됨
    script(src="../assets/js/main.js")