extends main
block content
    .container.max-w-xs(class='md:max-w-sm').mb-4.mt-6.mx-auto.font-body
        form.bg-white.shadow-lg.rounded.px-8.pt-6.pb-8.mb-4(action="/join" method="post")
            .mb-4
                label.block.text-gray-600.text-sm.mb-2(for="email") E-mail
                input.shadow.appearance-none.outline-none.border.rounded.w-full.mb-2.py-2.px-3.text-gray-600.leading-tight(name="email" type="text" required=true)
                p.text-gray-600.text-xs We'll #[strong send you an e-mail] to verify your account! 😁
            .mb-4
                label.block.text-gray-600.text-sm.mb-2(for="password") Password
                input.shadow.appearance-none.outline-none.border.rounded.w-full.mb-2.py-2.px-3.text-gray-600.leading-tight(name="password" type="password" required=true)
            .mb-4
                label.block.text-gray-600.text-sm.mb-2(for="password2") Confirm Password
                input.shadow.appearance-none.outline-none.border.rounded.w-full.mb-2.py-2.px-3.text-gray-600.leading-tight(name="password2" type="password" required=true)
                p.text-gray-600.text-xs Password must be #[strong at least 8 characters] long 🔒
                p.text-gray-600.text-xs Password must have #[strong uppercase, lowercase, special characters and numbers] 👁‍🗨
            .flex.items-center.justify-between
                button.bg-gray-600.text-white.py-2.px-4.rounded(class='hover:bg-gray-800', type="submit") Join
                a.inline-block.align-baseline.text-sm.text-gray-600(class='hover:text-gray-800' href="/reset") Forgot password?
        include socialLogin
    .container.max-w-xs(class='md:max-w-sm').mb-4.mt-6.mx-auto.font-body
        p.break-words.text-sm.text-gray-600 #[strong Don't worry, your password will be encrypted such as...] #[em 96efe84421b3ea9306ea0b8ed8fd7a943bfe2cce0a9ad1ed63ea4e5747eff9a096e9b953684782846bc73...]