include mixins/message

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/dist/assets/style.css')
    title #{title} | #{siteName}
  body
    include header
    main
      if messages.error
        +message({color: 'red', text: 'messages.error'})
      else if messages.info
        +message({color: 'gray', text: 'messages.info'})
      else if messages.success
        +message({color: 'green', text: 'messages.success'})
      block content
    include footer
    script(src='/dist/assets/main.js')