doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/dist/assets/style.css')
    title #{title} | moments
  body
    include header
    main
      block content
    include footer
    script(src='/dist/assets/main.js')