extends main
include mixins/videoSection

block content
    .container.mx-auto.flex.flex-wrap.justify-center.font-body.mt-8
        each item in result
            +videoSection({
                id: item.item.id,
                tags: item.item.tags,
                creator: item.item.creator.email,
                title: item.item.title,
                views: item.item.views,
                description: item.item.description,
                fileUrl: item.item.fileUrl
            })