.container.mx-auto.flex.flex-wrap.justify-center.font-body
    input.shadow.appearance-none.outline-none.border.rounded.max-w-md.py-2.px-3.text-gray-600.leading-tight(type="text")
    button(type="submit").text-gray-600.ml-2 Search