.w-full.flex.items-center.justify-between.font-body.text-gray-800
    a(href='/auth/kakao').w-full
        button.w-full.bg-kakao.py-2.px-1.rounded.mt-3
            span
                i.fas.fa-comment.mr-2
            |Continue with Kakao